.kitten-image {
    border: 5px dashed salmon;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 5px 5px 20px #ccc;
}

.udacity-text {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 60px;
    text-transform: uppercase;
    text-decoration: underline;
    color: #8001ff;
}

#menu {
    text-align: center;
}

.item {
    color: red;
}

.picture {
    border-radius: 5px;
}

.description {
    font-style: italic;
}

.title {
    font-family: Arial, sans-serif;
}

.underline {
    text-decoration: underline;
}

.list {
    list-style-type: square;
}

.finished {
    text-decoration: line-through;
    color: gray;
}

.top {
    height: 55%;
    border-radius: 4px 4px 0 0;
    border: 1px solid #ddd;
    background-image: url(profile-placeholder.svg);
    padding: 0 16px;
}

.profile-action {
    display: block;
    width: 100%;
    height: 32px;
    font-family: inherit;
    font-size: 1em;
    text-align: left;
    border-radius: 4px;
    border: 0;
    background-color: white;
    cursor: pointer;
}
