<div class="card">
  <div class="image-wrapper">
    <img [src]="product.image" [alt]="product.name" class="product-image">
  </div>

  <h3>{{ product.name }}</h3>
  <p class="desc">{{ product.description }}</p>

  <!-- html -->

  <div class="rating">⭐ {{ product.rating }}</div>
  <div class="price">{{ product.price | number }} ₸</div>

  <div class="actions">
    <p>Instock: {{total}}</p>
    <div class="share-btns">
      <button type="button" (click)="Like()" class="share-btn wa">Like</button>
      <p> ❤ {{likes}}</p>
    </div>
      <div class="b2">
            <button type="button" (click)="Delete()" class="share-btn tg">Delete</button>
      </div>
  </div>
</div>